html,body {
    height: 100%;
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .94rem;
}

#title {
    text-align: center;
}

#title h1 {
    display: inline-block;
    border-radius: 5px;
    margin: 15px auto;
    padding: 15px 50px;
    background-color: white;
    font-weight: normal;
    font-size: 2.5rem;
    text-shadow: 2px 2px #cccccc;
}

#plot {
    margin-bottom: 15px;
    border-radius: 5px;
}

#controls {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

#controls button {
    margin-bottom: 5px;
}